.shopContainer {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}

.productsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

@media (max-width: 660px) {
  .productsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 8px;
  }
}

@media (max-width: 330px) {
  .productsContainer {
    grid-template-columns: 1fr;
  }
}