:root {
  --star-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--card-border);
  width: 250px;
  min-width: 0px;
  cursor: pointer;
}

.imageContainer {
  width: 200px;
  height: 300px;
  align-self: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.textContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-weight: 450;
  font-size: 20px;
  margin-top: 12px;
}

.starContainer {
  display: flex;
  align-items: center;
}

.ratingCount {
  margin-left: 6px;
  color: var(--neutral-text);
}

@media (max-width: 1080px) {
  .container {
    width: 200px;
  }

  .imageContainer {
    width: 150px;
    height: 250px;
  }

  .title,
  .price {
    font-size: 18px;
  }

  .ratingCount {
    font-size: 14px;
  }

  :root {
    --star-size: 18px;
  }
}

@media (max-width: 867px) {
  :root {
    --star-size: 16px;
  }

  .container {
    width: 150px;
  }

  .title {
    font-size: 16px;
  }

  .imageContainer {
    width: 125px;
  }

  .ratingCount {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    flex: 1;
  }
}