nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 36px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.798);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.logo {
  cursor: pointer;
  font-size: 24px;
  color: var(--primary-text);
  font-weight: 700;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: var(--primary-text);
}

.menu {
  display: none;
}

@media (max-width: 768px) {
  nav {
    padding: 8px;
  }

  .link {
    display: none;
  }

  .menu {
    display: block;
  }
}