nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 36px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.798);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

hr {
  border: 1px solid var(--separator);
}

.logo {
  cursor: pointer;
  font-size: 24px;
  color: var(--primary-text);
  font-weight: 700;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--primary-text);
  padding: 8px 20px;
  margin-left: -8px;
}

.link:hover,
.shoppingCart:hover,
.menu:hover,
.closeCart:hover {
  background-color: var(--link-hover-bg);
}

.shoppingCart {
  padding: 8px;
  box-sizing: content-box;
  cursor: pointer;
}

.menu {
  box-sizing: content-box;
  padding: 8px;
  position: fixed;
  right: 8px;
  top: 9px;
  display: none;
  z-index: 10001;
  cursor: pointer;
}

.menuSlider,
.cartSlider {
  position: fixed;
  background-color: var(--primary-bg);
  width: 200px;
  height: 100vh;
  padding-top: 56px;
  top: 0;
  right: 0;
  transform: translateX(0);
  transition: transform 100ms ease-in-out;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

.cartSlider {
  width: 300px;
  z-index: 10001;
  padding: 0px;
}

.closeCart {
  margin: 8px;
  margin-left: auto;
  padding: 8px;
  box-sizing: content-box;
  cursor: pointer;
}

.menuLink {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 12px;
}

.menuLink:hover {
  background-color: var(--link-hover-bg);
}

.backdrop,
.cartBackdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: opacity 100ms ease-in-out;
}

.hidden {
  transform: translateX(100%);
}

.backdropHidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  nav {
    padding: 8px;
    padding-left: 16px;
  }

  .link {
    display: none;
  }

  .menu {
    display: block;
  }

  .shoppingCart {
    margin-right: 44px;
  }
}