.homeContainer {
  position: relative;
  padding: 0px 32px;
}

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  height: 100vh;
  min-height: 640px;
  gap: 32px;
}

.heroHeader {
  display: flex;
  flex-direction: column;
}

.heroTitle {
  display: flex;
  flex-direction: column;
}

.titleTop {
  font-size: 56px;
  font-weight: 500;
  margin-left: 24px;
}

.titleMiddle {
  font-size: 74px;
  font-weight: 800;
}

.titleBottom {
  font-size: 56px;
  font-weight: 500;
  margin-left: 80px;
}

.titleDescription {
  margin-top: 12px;
  text-align: center;
}

.heroCta {
  align-self: flex-end;
  margin-top: 36px;
  margin-right: 64px;
  background-color: var(--primary-bg);
  padding: 16px 32px;
  border: 2px solid var(--border);
  border-radius: 16px;
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-text);
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
}

.heroCta:hover {
  background-color: var(--footer-bg);
  color: var(--primary-text-dark);
}

.heroImageContainer {
  flex: 1;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  overflow: visible;
}

.heroImageContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.backgroundGradient {
  background-image: url("../../assets/the-market-text-gradient.png");
  opacity: 0.7;
  position: absolute;
  background-size: cover;
  background-repeat: repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

@media (max-width: 1080px) {
  .homeContainer {
    padding: 0 16px;
  }

  .titleTop {
    margin-right: 48px;
    text-align: center;
  }

  .titleMiddle {
    margin-right: 72px;
    text-align: center;
  }

  .titleBottom {
    margin-left: 48px;
    text-align: center;
  }

  .heroSection {
    flex-direction: column;
    height: 100%;
    padding: 72px 0px;
    gap: 48px;
  }
}

@media (max-width: 576px) {
  .titleTop {
    font-size: 48px;
  }

  .titleMiddle {
    font-size: 56px;
  }

  .titleBottom {
    font-size: 48px;
  }

  .heroCta {
    margin-top: 24px;
    margin-right: 0;
    align-self: center;
  }
}

@media (max-width: 467px) {
  .titleTop {
    font-size: 36px;
  }

  .titleMiddle {
    font-size: 48px;
  }

  .titleBottom {
    font-size: 36px;
  }

  .titleDescription {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .titleTop {
    font-size: 28px;
  }

  .titleMiddle {
    font-size: 36px;
  }

  .titleBottom {
    font-size: 28px;
  }

  .titleDescription {
    font-size: 12px;
  }
}