@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-text: black;
  --neutral-text-dark: rgb(170, 170, 170);
  --primary-bg: white;
  --footer-bg: rgb(30, 30, 30);
  --footer-text: rgb(229, 229, 229);
  --border: rgb(53, 53, 53);
  --border-dark: rgb(85, 85, 85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}