@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-text: black;
  --primary-text-dark: white;
  --neutral-text-dark: rgb(170, 170, 170);
  --neutral-text: rgb(59, 59, 59);
  --primary-bg: white;
  --muted-bg: rgb(160, 160, 160);
  --footer-bg: rgb(30, 30, 30);
  --success-bg: rgb(171, 255, 167);
  --footer-text: rgb(229, 229, 229);
  --border: rgb(53, 53, 53);
  --border-dark: rgb(85, 85, 85);
  --card-border: rgb(226, 226, 226);
  --link-hover-bg: rgba(240, 240, 240, 0.365);
  --separator: rgb(238, 238, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}