.container {
  padding: 80px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  height: 100vh;
}

.pageTitle {
  font-weight: 600;
  font-size: 24px;
}

.mainContent {
  display: flex;
  width: 100%;
  min-height: 100%;
  height: 100%;
  gap: 36px;
}

.center {
  align-items: center;
  justify-content: center;
}

.leftContainer {
  flex: 3;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  gap: 8px;
}

.emptyCartText {
  font-weight: 500;
}

.continueShopping {
  margin-top: 8px;
  color: var(--primary-text-dark);
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: var(--footer-bg);
}

.rightContainer {
  flex: 2;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: sticky;
  top: 80px;
}

.summary {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.subtotalContainer,
.shippingContainer,
.taxContainer,
.totalContainer {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  gap: 56px;
}

.totalContainer span {
  font-weight: 700;
}

.paymentMethods {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
}

.paymentMethods button {
  padding: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.paypal {
  border: none;
  background-color: rgb(47, 150, 240);
  color: white;
}

.googlePay {
  border: none;
  background-color: rgb(38, 38, 38);
  color: white;
}

.applePay {
  border: 1px solid gray;
  background-color: white;
}

@media (max-width: 1000px) {
  .mainContent {
    flex-direction: column;
  }

  .container {
    height: 100%;
  }

  .rightContainer {
    align-self: center;
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 80px 0px;
  }

  .leftContainer {
    padding: 0 4px;
  }

  .rightContainer {
    padding: 0 16px;
  }
}