.container {
  padding: 80px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  height: 100vh;
}

.pageTitle {
  font-weight: 600;
  font-size: 24px;
}

.mainContent {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 36px;
}

.leftContainer {
  flex: 3;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 8px;
}

.emptyCartText {
  font-weight: 500;
}

.continueShopping {
  margin-top: 8px;
  color: var(--primary-text-dark);
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: var(--footer-bg);
}

.rightContainer {
  flex: 2;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: sticky;
  top: 80px;
}

.summary {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.subtotalContainer,
.shippingContainer,
.taxContainer,
.totalContainer {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}